.App {
  display:flex;
  align-items:center;
  justify-content:space-around;
  height:100vh;
}
.controls{
  width:40vw;
}

.box{
  text-align:center;
  padding:20vh 0px;
  
  width:40vw;
  height:50vh;
 background-color: blueviolet;
 color:whitesmoke;
}
